<h2 class="flower-name"><%= @flower.name %></h2>

<div class="top-detail">
    <%= image_tag "#{@flower.image_url}", class: "flower-image" %>
    <div class="words-birthday-situation">
        <h4>全般の花言葉</h4>
        <% get_flower_words(@flower.id).each do |word| %>
            <p class="flower_word"><%= word %></p>
        <% end %>

        <h4>いつの誕生花</h4>
        <% get_birthdays(@flower.date).each do |birthday| %>
            <p class="birthday"><%= birthday %></p>
        <% end %>

        <h4>適した場面</h4>
        <% get_situations(@flower.sub_category_id).each do |situation| %>
            <p class="situation"><%= situation %></p>
        <% end %>
    </div>
</div>