<header class="l-header">
    <div class="l-header-inner">
        <div class="l-header-logo">
            <%= link_to "The Youth", root_path %>
        </div>
        <nav class="l-header-nav">
            <ul class="l-header-nav-list">
                <li><%= render "layouts/search_window" %></li>
                <li class="menu-item"><%= link_to "ABOUT", "#" %></li>
                <li class="menu-item"><%= link_to "TOPICS", "#" %></li>
                <li class="menu-item"><%= link_to "RANKING", "#" %></li>
                <li class="menu-item"><%= link_to "NEWS", "#" %></li>
            </ul>
        </nav>
    </div>
</header>